@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    width: 414px;
    height: 1026px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;

    background: #EEEEEE;
}

h1 {
    font-family: "Righteous", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
}

.header {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;

    width: 100%;
    height: 92px;

    background: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header h1 {
    width: 250px;
    height: 44px;
    margin-top: 10px;
    margin-left: 5%;

    color: #FFFFFF;
}

.header h2 {
    width: 250px;
    height: 17px;
    margin-top: 5px;
    margin-left: 5%;

    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.label {
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 1;

    width: 100%;
    height: 92px;

    background: #FFFFFF;
}

.purchase {
    width: 90%;
    max-width: 380px;
    height: 61px;
    
    background: #CBCBCB;
    border-radius: 50px;
}

.label p {
    display: block;
    width: 60%;

    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;

    color: #FFFFFF;
}

#first-menu {
    position: absolute;
    top: 123px;
}

#sec-menu {
    position: absolute;
    top: 413px;
}

#ter-menu {
    position: absolute;
    top: 703px;
}

.screen {
    margin-bottom: 60px;
}

.menu {
    width: 100%;
}

.menu .scroll-screen {
    margin-top: 13px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.menu .scroll-screen-child {
    height: 216px;
    width: 300%;
    height: inherit;

    display: flex;
    
}

.menu h1 {
    margin-left: 19px;
    font-size: 26px;
    line-height: 32px;
}

.menu h2 {
    margin: 3px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #333333;
}

.menu h3 {
    margin-top: 8px;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.menu p {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;

    color: #A6A6A6;
}

.menu img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

#box-elements-option {
    width: 144px;
}

.option {
    width: 172px;
    height: 216px;

    margin-left: 19px;
    text-align: start;

    border-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    background-color: #FFFFFF;
}

.option ion-icon {
    margin-top: 8px;
    height: 22px;
    width: 22px;
    color: #32B72F;
    display: None;
}

.in-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-bet {
    display: flex;
    justify-content: space-between;
} 

.border-green {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

.border-green ion-icon {
    display: initial;
}

.finishPurchase {
    background: #32B72F;
    border-radius: 50px;

    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.018em;

    color: #FFFFFF;
}

.confirm-order {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: None;

    background: rgba(255, 255, 255, 0.9);
}

.confirm-order .box {
    width: 80%;
    height: 300px;
    
    background: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

.confirm-order .box div {
    width: 100%;
}

.confirm-order .box h1 {
    margin: 15px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #FFFFFF;
}

.confirm-order .box p {
    margin: 3px 18px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.018em;

    color: #FFFFFF;
}

.confirm-order .box h3 {
    margin: 7px 18px;
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.018em;
    text-align: center;

    color: #FFFFFF;
}

.confirm-order .box h4 {
    margin: 0px 18px;
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.018em;

    color: #FFFFFF;
}

.button-wpp {
    width: 90%;
    height: 52px;
    background: #FFFFFF;
    border-radius: 100px;
}

.button-wpp h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.018em;
    
    color: #50D074;
}

.unhidden {
    display: flex;
}

.column {
    flex-direction: column;
}

a {
    width: 90%;
    text-decoration: none;    
}